.mode{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 50px;
    /* height: 20px; */
    padding: 5px;
    padding-top: 7px;
    background-color: white;
    border-radius: 20px;
    transition:  .3s linear;
    cursor: pointer;
    box-shadow: 0px 5px 20px -10px #000000;
    margin: 0;
    translate: -1px -1px;
}

.mode:hover{
    translate: 0px 0px;
    border: 1px dashed black;
}

.inner-toggle{
    width: 18px;
    height: 15px;
    /* padding: 7px 0px; */
    /* margin: 2px; */
    background-color: black;
    border-radius: 9px;
    transition: all .3s ease-in-out;
}

.dark{
    background-color: black;
    border: 1px solid white;
    box-shadow: 0px 5px 20px -10px whitesmoke;

}

.dark + .mode:hover{
    translate: 0px 0px;
    border: 1px dashed white;
}

.dark-inner-toggle{
    background-color: white;
    /* margin-top: 3px;
    margin-left: 2px; */
    transition: all .3s ease-out;
}

.sun-image{
    width: 20px;
    height: 15px;
    padding: 0px;
}

.nosun{
    display: none;
}

.moon-image{
    width: 20px;
    height: 15px;
    padding: 0px;
}
.nomoon{
    display: none;
}