.node{
  width: 1.5rem;
  height: 1.7rem;
  border-radius: 2px;
  border: 1px solid black;
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.node:hover{
  scale: 1.15;
  background-color: rgb(74, 85, 95);
}

.blink{
  animation: shake .3s ease-in-out 0s 1 forwards ;
  /* box-shadow: 0 0 0.6rem #ff0000; */
}

.dark-on{
  border: 1px solid white;
}

.node-finish{
  background: url("../styleComponents/end1.png");
  background-size: contain;
}

.node-start{
  background: url("../styleComponents/start.png");
  background-size: cover;
}


.node-visited{

  border: 1px solid black;
  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.justVisitedNeigh{
  background-color: pink;
}

.node-path{
  background-color: rgb(246, 246, 166);
}

.node-wall{
  background: url("../styleComponents/wall1.png");
  background-size: cover;
}

.dark-theme-on{

}


@keyframes here {
  0% {
    transform: scale(.3);
    background-color: lightcoral;
    border-radius: 100%;
  }
}

@keyframes visitedAnimation {
  0% {
    transform: scale(.3);
    background-color: rgb(218, 215, 41);
    border-radius: 100%;
  }

  50% {
    background-color:lightyellow;
  }

  75% {
    transform: scale(1.2);
    background-color:  rgb(141, 209, 232)
  }

  100% {
    transform: scale(1.0);
    background-color: lightgreen;
  }
}

@keyframes shake {
  0% {
    box-shadow: .2px .2px 1px beige;
  }
  25% {
    box-shadow: .5px .5px 1.5px bisque;
  }
  75% {
    scale: 1.04;
    box-shadow: 1px 1px 1px black;
  }
  100% {
  }
}
